.ingredient-label {
  position: absolute !important;
  transform: translate(14px, 0) scale(0.75) !important;
  top: 12px !important;
  left: 14px !important;
  color: rgba(0, 0, 0, 0.54) !important;
}

.ingredient-input {
  height: 60px !important;
  padding: 16px 24px !important;
}
